meta:
  author: szottyos
  version: 1.0.0
  engine: 4.0.0
points:
  zones:
    main:
      anchor:
        rotate: 5
      columns:
        pinky:
        ring:
          key:
            splay: -5
            origin: [-12, -19]
            stagger: 20
        middle:
          key:
            stagger: 7
        index:
          key:
            stagger: -5
        inner:
          key:
            stagger: -4
      rows:
        bottom:
        home:
        top:
    thumb:
      anchor:
        ref: main_index_bottom
        shift: [-0.5cx, -1.18cy]
      columns:
        inner.key:
          rotate: -10
        home.key:
          spread: cx + 4
          rotate: -25
          stagger: -7
      rows:
        home:
outlines:
  _board_outline:
    - what: polygon
      fillet: 2
      points:
        - ref: thumb_home_home
          shift: [0.6cx, 0.6cy]
        - ref: thumb_home_home
          shift: [0.6cx, -0.6cy]
        - ref: thumb_home_home
          shift: [-0.4cx, -0.6cy]

        - ref: thumb_inner_home
          shift: [0.4cx, -0.6cy]
        - ref: thumb_inner_home
          shift: [-0.6cx, -0.6cy]

        - ref: main_pinky_bottom
          shift: [1.6cx, -0.6cy]
        - ref: main_pinky_bottom
          shift: [0.6cx, -0.6cy]
        - ref: main_pinky_bottom
          shift: [-0.6cx, -0.6cy]

        - ref: main_pinky_top
          shift: [-0.6cx, 0.6cy]
        - ref: main_pinky_top
          shift: [0.4cx, 0.6cy]

        - ref: main_ring_top
          shift: [-0.5cx, 0.6cy]
        - ref: main_ring_top
          shift: [0.4cx, 0.6cy]

        - ref: main_middle_top
          shift: [-0.4cx, 0.61cy]
        - ref: main_middle_top
          shift: [0.4cx, 0.6cy]

        - ref: main_index_top
          shift: [-0.4cx, 0.6cy]
        - ref: main_index_top
          shift: [0.5cx, 0.6cy]

        - ref: main_inner_top
          shift: [-0.4cx, 0.6cy]
        - ref: main_inner_top
          shift: [0.5cx, 0.6cy]

        - ref: main_inner_top
          shift: [0.6cx, 0.4cy]
        - ref: main_inner_top
          shift: [1.8cx, 0.4cy]

        - ref: main_inner_bottom
          shift: [1.8cx, -0.6cy]
  _keycap_outlines:
    - what: rectangle
      fillet: 2
      where: true
      size: [cx - 0.5, cy - 0.5]
  preview:
    - what: outline
      name: _board_outline
      operation: stack
    - what: outline
      name: _keycap_outlines
      operation: stack
pcbs.left:
  outlines:
    main.outline: _board_outline
  footprints:
    keyswitches:
      where: true
      what: choc
      params:
        hotswap: true
        keycaps: true
        reverse: true
        from: "{{col_net}}"
        to: "{{colrow}}"

    diode:
      what: diode
      where: true
      params:
        from: "{{colrow}}"
        to: "{{row_net}}"
      adjust:
        shift: [-7.6, 1.6]
        rotate: 90

    supermini:
      what: nice_nano
      where:
        ref: main_inner_home
      adjust:
        shift: [22, 6.5]
        rotate: -90
      params:
        orientation: up

    oled:
      what: oled
      params:
        side: "F"
        SDA: P2
        SCL: P3
      where:
        ref: main_inner_top
        shift: [28, 5.5]
        rotate: -90

    switch:
      what: slider
      where:
        ref: main_inner_bottom
        shift: [30.5, 0]
        rotate: -90
      params:
        from: pos
        to: RAW

    bat_con:
      what: jstph
      where:
        ref: main_inner_bottom
        shift: [22, -10]
        rotate: 180
      params:
        side: "B"
        pos: RAW
        neg: GND

    reset:
      what: button
      where:
        ref: main_inner_bottom
        shift: [22.1, 3]
      params:
        side: "B"
        from: GND
        to: RST

    front_text: &text
      what: text
      where: &textWhere
        ref: main_pinky_bottom
        shift: [12, -7]
      params: &textParams
        text: Szottyos board
        justify: left

    back_text:
      <<: *text
      what: text
      where:
        <<: *textWhere
        shift: [27, -7]
      params:
        <<: *textParams
        layer: B.silkS
        justify: left mirror

    safe_text:
      <<: *text
      what: keepout
      params:
        points:
          - x: -0.5
            y: -2
          - x: 15.5
            y: -2
          - x: 15.5
            y: 2
          - x: -0.5
            y: 2
    safeIcon:
      what: keepout
      params:
        points:
          - x: -0.5
            y: -0.5
          - x: 13.25
            y: -0.5
          - x: 13.25
            y: 13.25
          - x: -0.5
            y: 13.25
